.Main-button {
  margin: 0;
  padding: 0;
  position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#zero {
    grid-area: 6 /span 2;
    /* border-radius: 44%; */
}
#operator{
    background-color: rgb(250, 105, 9);
}
#operator:hover{
  background-color:rgb(250, 135, 10);
}
button {
  font-size: 4rem;
  /* border-radius: 100%; */
}

button:hover{
  background-color:rgb(224, 223, 222);
}
